//Server 
PORT = el puerto que deseas usar para tu servidor, por ejemplo: 3000

//Database
DB_HOST = el host de tu base de datos, por ejemplo: localhost
DB_USER = el usuario de tu base de datos
DB_PASSWORD = la contraseña de tu base de datos
DB_NAME = el nombre de tu base de datos
DB_PORT = el puerto de tu base de datos

//JWT
JWT_SECRET = tu_clave_secreta_aqui
